/* background-colors: (blue) #1543EA, #15aeea, #15EABC / (grey) #b3b8b9 */


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f0f9fc;      
    color: #f0f9fc;
}

header {
    width: 100%;
    background-color: #15aeea;
    top: 0;
    position: fixed;
    z-index: 1;
    text-align: center; 
}

header h1 {
    font-size: 40px;
}

header p {
    font-size: 20px;
    margin-top: -20px;
}

h2 {
    color: #f0f9fc;
    font-size: 30px;
}


.viewExpenses {
    position: relative;
    border: 2px solid #1543EA;
    border-radius: 30px;
    padding: 5px 20px;
    background-color: #b3b8b9; 
    width: 120%;
    height: 600px;
    margin: 10px;
}

.scrollable {
    max-height: 550px;
    overflow-y: auto;
}

.addExpenses {
    border: 2px solid #1543EA;
    border-radius: 30px;
    padding: 5px 20px;
    width: 15%;
    background-color: #b3b8b9;
    margin: 10px;
    text-align: center;
    height: 600px;
    
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    top: 20px;
    justify-content: center;
    align-items: center;
}

#dateExpense, #typeExpense, #numAmount {
    width: 50%;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #15aeea;
    z-index: 100;
}

button {
    background-color: #15EABC;
    border-radius: 4px;
    border: none;
    color: black;
    width: 100px;
    padding: 5px;
    cursor: pointer;
}

.subButton {
    display: flex;
    justify-content: center;
}

textarea {
    resize: none;
}

#description {
    width: 100%;
    margin-bottom: 10px;
    word-wrap: break-word;
}


.clearButton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.allContainer {
    display: flex;
    margin-top: 175px;
}

th {
    text-align: center;
    background: #15aeea;
    border: 1px solid #1543EA;
    width: 17%;
    padding: 15px;
}

td {
    text-align: center;
    padding: 6px;
    border: 1px solid #15EABC;
    word-wrap: break-word;
    white-space: normal;
}

td:nth-child(4) {
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
}

/* pie chart */
.chartContainer {
    height: 100px;
    justify-content: center;
}

.chart-wrapper {
    width: 550px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    bottom: 675px;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

#myChart {
    margin: 20px;
}


